


    
body 
    font-family: sans-serif


// Header 

header 
    background-color: #5B191A

@media screen and (max-width: 667px)
    header 
        display: flex
        flex-basis: 50%





// Navigation Bar
nav
    background-color: #0E0D0D
    padding: 0.3em

li 
    display: inline

li a 
    color: white
    text-decoration: none
    padding-right: 1em
// End of Navigation Bar
    
/////////////////
/// Main Part ///
/////////////////

.sectionheadline
    background-color: #C4C4C4
    padding: 1em 2em 1em 2em
    margin: 1em 1em 1em 1em

.blockelement
    margin: 1em 4em 1em 4em


/// Flexboxing section 1 ///

figcaption
    background-color: black
    color: white
    max-width: 100%
    padding: 1em
    font-size: 1em
    font-size: 1em
    position: relative
    bottom: 2.5em

figure
    margin: 1em 1em 1em 1em

img 
    width: 100%
    object-fit: cover
    

/// Media Queries ///

/*small screen* --> mobile first!*/
@media screen and (max-width: 667px) 
    .section
        display: flex
        flex-wrap: wrap
        justify-content: space-around

    .flexitem 
        flex-basis: 40%

    .desktoponly
        display: none
       
/*big screen*/
@media screen and (min-width: 668px) 
    .section 
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        
    .flexitem
        flex-basis: 29%
    
    .mobileonly
        display: none

    .doublecontainer
        display: flex
        justify-content: center
    
    .containerleft
        flex-basis: 90%
    
    .containerleft .flexitem
        flex-basis: 40%

    .containerright
        flex-basis: 10%
        padding: 0
        



    



    
    




    





// Footer
footer 
    background-color: #0E0D0D

footer p 
    color: white


// End of Footer